In [2]:
import numpy as np
import pandas as pd

In [4]:
#taks 1
num = [int(i) for i in input().split()]
ans = 1
for i in num:
    ans *= i

print('{:.5f}'.format(ans ** (1/len(num))))

1 2 3 4 5
2.60517

In [6]:
#task 2
from math import sin, cos
deka = [int(i) for i in input().split()]
poly =  [int(i) for i in input().split()]
x_poly = poly[0] * cos(poly[1])
y_poly = poly[0] * sin(poly[1])
ans = (abs((deka[0] + x_poly))**2 + abs((deka[1] + y_poly))**2)**(1/2)
print(ans)

10 20
5 4
17.557765770508876

In [7]:
#task 3
def multiplication_matrix(x):
    ans = []
    for i in range(1,x+1):
     ans.append([i * n for n in range(1,x+1)])   
    return ans


if __name__ == '__main__':
  print(multiplication_matrix(int(input())))

3
[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [1]:
#task 4
import numpy as np
def staits(vector):
    size = len(vector)
    result = np.zeros((size, size), dtype=vector.dtype)
    for i in range(size):
        result[i] = np.roll(vector,-i)
    return result
if __name__ == '__main__':
    staits(np.arange(5))

In [3]:
#task 5
from collections import defaultdict
from re import sub 
def length_stats(s):
    odd = defaultdict(list)
    even = defaultdict(list)
    ans_1 = []
    ans_2 = []
    new_s = sub(r'[^\w\s]', '', s).lower().split()
    for word in new_s:
        if len(word) % 2 != 0:
             odd[word] = len(word)
        else:
            even[word] = len(word)
        even = pd.Series(even).sort_index()
        odd = pd.Series(odd).sort_index()
    return odd,even
odd, even = length_stats('Лес, опушка, странный домик. Лес, опушка и зверушка.')
print(odd)
print(even)

домик    5
и        1
лес      3
dtype: int64
зверушка    8
опушка      6
странный    8
dtype: int64

In [4]:
#task_6
products = ['bread', 'milk', 'soda', 'cream']
prices = [37, 58, 99, 72]
price_list = pd.DataFrame({'products':products,
                           'prices':prices
    
})
def cheque(price_list, bread = 0,soda=0, milk=0, cream=0):
    price_list['numders'] = ([bread ,soda, milk, cream])
    price_list = price_list.loc[price_list['numders'] != 0].copy()
    price_list['cost'] = price_list['numders'] * price_list['prices']        
    return price_list.reset_index(drop=True)
cheque(price_list,soda=3, milk=2, cream=1)

  products  prices  numders  cost
0     milk      58        3   174
1     soda      99        2   198
2    cream      72        1    72

In [19]:
#task_7
columns = ['name', 'maths', 'physics', 'computer science']
data = {
    'name': ['Иванов', 'Петров', 'Сидоров', 'Васечкин', 'Николаев'],
    'maths': [5, 4, 5, 2, 4],
    'physics': [4, 4, 4, 5, 5],
    'computer science': [5, 2, 5, 4, 3]
}
journal = pd.DataFrame(data, columns=columns)
def best(journal):
    journal = journal.rename(columns = lambda col: col.replace(" ", "_"))
    best_student = journal.query('maths >= 4 & physics >= 4 & computer_science >= 4')
    return best_student
best(journal)

      name  maths  physics  computer_science
0   Иванов      5        4                 5
2  Сидоров      5        4                 5

In [20]:
journal

       name  maths  physics  computer science
0    Иванов      5        4                 5
1    Петров      4        4                 2
2   Сидоров      5        4                 5
3  Васечкин      2        5                 4
4  Николаев      4        5                 3

In [29]:
# task_8
def need_to_work_better(journal):
    journal = journal.rename(columns = lambda col: col.replace(" ", "_"))
    need_to_work_better = journal.query('maths == 2 | physics == 2 | computer_science == 2')
    journal['average'] = journal[['maths','physics','computer_science']].mean(axis = 1)
    return journal

In [30]:
need_to_work_better(journal)

       name  maths  physics  computer_science   average
0    Иванов      5        4                 5  4.666667
1    Петров      4        4                 2  3.333333
2   Сидоров      5        4                 5  4.666667
3  Васечкин      2        5                 4  3.666667
4  Николаев      4        5                 3  4.000000

In [31]:
# task_9
def update(journal):
    journal = journal.rename(columns = lambda col: col.replace(" ", "_"))
    journal['average'] = journal[['maths','physics','computer_science']].mean(axis = 1)
    return journal.sort_values('name', ascending=True).sort_values('average', ascending=False)

In [32]:
update(journal)

       name  maths  physics  computer_science   average
0    Иванов      5        4                 5  4.666667
2   Сидоров      5        4                 5  4.666667
4  Николаев      4        5                 3  4.000000
3  Васечкин      2        5                 4  3.666667
1    Петров      4        4                 2  3.333333

In [173]:
#task 10
def values(func, start, end, step):
    ans = list()
    num = list()
    for x in np.arange(start, end + step, step):
        num.append(x)   
        ans.append((func)(x))
    ans = pd.Series(ans, index = num )
    return ans 
def min_extremum(data):
    min_point = data.idxmin()
    return min_point
def max_extremum(data):
    max_point = data.idxmax()
    return max_point

In [174]:
data = values(lambda x: x ** 2 + 2 * x + 1, -1.5, 1.7, 0.1)
print(data)
print(min_extremum(data))
print(max_extremum(data))

-1.500000e+00    0.25
-1.400000e+00    0.16
-1.300000e+00    0.09
-1.200000e+00    0.04
-1.100000e+00    0.01
-1.000000e+00    0.00
-9.000000e-01    0.01
-8.000000e-01    0.04
-7.000000e-01    0.09
-6.000000e-01    0.16
-5.000000e-01    0.25
-4.000000e-01    0.36
-3.000000e-01    0.49
-2.000000e-01    0.64
-1.000000e-01    0.81
 1.332268e-15    1.00
 1.000000e-01    1.21
 2.000000e-01    1.44
 3.000000e-01    1.69
 4.000000e-01    1.96
 5.000000e-01    2.25
 6.000000e-01    2.56
 7.000000e-01    2.89
 8.000000e-01    3.24
 9.000000e-01    3.61
 1.000000e+00    4.00
 1.100000e+00    4.41
 1.200000e+00    4.84
 1.300000e+00    5.29
 1.400000e+00    5.76
 1.500000e+00    6.25
 1.600000e+00    6.76
 1.700000e+00    7.29
dtype: float64
-0.9999999999999996
1.7000000000000028